*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    font-size: 1.4em;
}

nav ul{
    list-style-type: none;
}

nav li{
    line-height: 2.5em;
}

nav a{
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
}

nav a:hover{
    background: rgba(0,0,0,0.5);
}

/*Primer Nivel*/

nav > ul{
    background-color: #333;
    width: 100%;
    overflow:hidden;
}

nav>ul>li{
    float: left;
}

nav>ul>li>ul{
    position: absolute;
}

nav>ul>li:hover ul{
    display: block;
}

nav>ul>li>ul{
    background-color: #222;
}



