html{
    background-color: black;
    color:black;
    text-align: center;
}
h1{
    color: white;
    font-size: 60px;
}

h2{
    color: white;
    font-size: 30px;
}
body{
    margin: 25px;
}

section h1{
    background-color: darkred;
    text-align: center;
    font-size: 30px;
}

section a{
    background-color: darkgrey;
    
}

